.sigupcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sigupform{
    width: 32%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #11056b;
    align-items: center;
    border-radius: 12px;
    margin-top: 20px;

}
.insidesigup{
    display: flex;
    flex-direction: column;
}
.signuplabel{
font-size: 20px;
margin-bottom: 10px;
color: #ffffff;

}
.sigupinput{
    color: #ffffff;
    font-size: 20px;
    padding: 2px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.sigupbtn{
    font-size: 20px;
    width: 80px;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.siguppara{
        font-size: 20px;
        margin-top: 20px;
    }
.error{
        margin-left: 20px;
        color: red;
    }

  @media (max-width:1050px) {
    .sigupform{
      width: 40%;
    }  
    .sigupheading{
        font-size: 80px;
     }
   
  }
  @media (max-width:700px) {
    .sigupform{
      width: 65%;
    } 
     .siguplabel{
        font-size: 18px;
     }
     .sigupinput{
        font-size: 18px;
     } 
     .sigupheading{
        font-size: 60px;
     }
   
  }
  @media (max-width:400px) {
    .sigupform{
        width: 80%;
    } 
     .siguplabel{
        font-size: 15px;
     }
     .sigupinput{
        font-size: 15px;
     }
     .sigupheading{
        font-size: 40px;
     }
    }