.changepasswordcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.changepasswordcontainer form{
    width: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(17, 5, 107);
    align-items: center;
    border-radius: 12px;
    margin-top: 20px;

}
.changepasswordcontainer div{
    display: flex;
    flex-direction: column;
}
.changepasswordcontainer label{
    font-size: 20px;
   margin-bottom: 5px;
   color: #ffffff;

 }
.changepasswordcontainer input{
    color: #ffffff;
    font-size: 20px;
    padding: 2px;
    border: none;
    margin-bottom: 10px; 
    background: transparent;
    border-bottom: 1px solid black;
}
.changepasswordcontainer button{
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    }